@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body{
    background-color: rgb(255, 255, 255);
}
h1 {
    color: rgb(61, 86, 224);
    font-style: italic;
    font-size: 2rem;
}

.shape-of-box{
    background-color: rgb(71, 212, 177);
    height: 10rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.shape-of-box p {
    font-size: large;
}

.btn {
    color: hotpink;
  }
  
.text {
    display: none;
  }
.show-hehe .text {
    display: block;
  }